{
  "app": {
    "container_port": 3000,
    "health_check_path": "/",
    "task_size": "xsmall",
    "min_tasks": 1,
    "max_tasks": 2,
    "use_database": true,
    "environment": {
      "NODE_ENV": "production"
    }
  }
}
